.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 7rem;

  @media (min-width: $screen-sm-min) {
    padding: 2rem;
  }
}
