.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 2rem;

  @media (max-width: $screen-sm-min) {
    padding: 1rem;
    padding-top: 2rem;
  }
}
