.headerContainer {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $screen-sm-min) {
    display: none;
  }
}

.headerContainerLeft {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logoWrapper {
  position: relative;
  width: 90px;
  height: 90px;
  margin-left: -1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: $color-primary;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translate(-46%, -50%);
  z-index: 2;
}

.rolloutNav {
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    color: $color-text;
    text-decoration: none;
    font-size: $font-size-base;
    font-weight: 500;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.headerContainerRight {
  display: flex;
  align-items: center;
}

.iconUser {
  font-size: 1.5rem;
  color: $color-text;
}
