.baseHeading {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.h1,
.h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: $font-size-lg;

  @media (min-width: $screen-sm-min) {
    padding-top: 0;
    margin-bottom: 0;
    font-size: $font-size-xxl;
  }
}

.h3 {
  font-size: $font-size-md;

  @media (min-width: $screen-sm-min) {
    padding-top: 1.5rem;
    padding-bottom: 0;
    font-size: $font-size-xl;
  }
}

.h4 {
  font-size: $font-size-base;
}

.medium {
  font-weight: 500;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
