.card {
  flex: 0 0 auto;
  width: 85vw;
  max-width: 200px;
  border-radius: $radius-sm;
  overflow: hidden;
  background: $color-white;
  border: 1px solid $color-border;

  @media (min-width: $screen-sm-min) {
    flex-shrink: 0;
    width: 250px;
    max-width: 320px;
    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease,
      border-color 0.25s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 18px $color-shadow;
      border: 1px solid $color-border-light;
    }
  }
}

.image {
  width: 100%;
  height: 230px;
  padding: 0.8rem;
  object-fit: cover;

  @media (min-width: $screen-sm-min) {
    height: 280px;
    padding: 1rem;
  }
}

.content {
  padding: 0 0.8rem 0.8rem 0.8rem;

  @media (min-width: $screen-sm-min) {
    padding: 0 1rem 1rem 1rem;
  }
}

.title {
  padding: 0;
  font-size: $font-size-sm;
  font-weight: 500;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-base;
  }
}

.location {
  font-size: $font-size-xsm;
  color: $color-text-light;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-sm;
  }
}
